.footer {
    display: flex;
    align-items: center;
    background: #353535;
    padding-left: 1%;
    padding-right: 1%;
    bottom: 0;
    position: relative;
    width: 100%;
    color: #cbcbcb;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0.5% 0;

    &__copy {
        width: 75%;
        margin-left: 1%;
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
    }

    &__divider {
        margin: 0 1%;
    }

    &__terms {
        display: flex;
        width: 25%;
        justify-content: flex-end;
        text-align: center;
    }

    &__terms-item {
        margin: auto;
        text-decoration: none;
        list-style-type: none;
        color: #cbcbcb;
    }

    &__social {
        display: flex;
        justify-content: flex-end;
        // margin: top right bottom left;
        // margin: vertical horizontal;
        margin-right: 0.35%;
    }

    &__img {
        padding: 0 3px;
    }
}

@media screen and (max-width: 1010px){
    .footer{
     position: relative;
     flex-direction: column;
     text-align: center;
     &__copy {
         justify-content: center;
         width: 100%;       
     }
     &__terms{
         width: 50%;
     }
    }
  }


// .footer {
//      position:bottom;
//      bottom:0;
//      background-color: black;
//          }

// <div>
//  <h1>
//     <h2>
//         <p> - across multiple lines
//         <span> - in a single line

// <ul>
//     <li>

// <ol>
//     <li>