.membership-container{
        background-color: black;
        padding-top: 5%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
        .membership__list{
            background-color: #DCDCDC;
            flex-direction: column;
            height: auto;
            display: flex;
            margin: auto;
            border: solid lightgrey;
            border-radius: 12px;
        }

    .membership__list-title{
        margin-top: 3%;
        font-size: 250%;
        text-align: center;
        font-family: 'proxima-nova',Sans-Serif;
        text-transform: uppercase;
    }

    .membership__list-item{
        padding-top: 3%;
        padding-left: 15%;
        padding-right: 15%;
        text-transform: none;
        text-align: center;
        margin: auto;
        font-family: 'proxima-nova',Sans-Serif;
        line-height: 1.5;
        text-align: center;
        font-size: 130%;
        font-weight: 500;
        letter-spacing: 2px;    
    }

    .membership__back-ground{
        background-image: url("../../images/Member.png");
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        height: 85vw;
    }

}
