@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

#container {
  width: 100%;
  display: inline-block;
}

/** HEADER */

/** NAVIGATION BAR */

.nav-bar {
    overflow: hidden;
    background-color: black;
    position: relative;
    top: 0;
    width: 100%;
    height: 20%;

  &__list {
    display: flex;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 60px;
  }

  &__logo {
    position: absolute;
    top: 30px;
  }

  &__item-list {
    display: flex;
    align-self: center;
    margin: 0 auto;
  }

  &__item {
    display: inline;
    font-family: "Fira Sans", sans-serif;
    font-size: 23px;
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px;
    margin: 0 30px;

    &:hover {
      color: grey;
      text-decoration: none;
    }
  }
}
