@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

/** HEADER */

/** NAVIGATION BAR */

.nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    background-color: black;
    //position: relative;

    &__container{
      display: flex;
      width: 100%;
      position: relative;



      .list-items{
        display: flex;
        width: 100%;
        align-items: center;
        margin: auto;
        list-style-type: none;
        padding: auto;

          &__logo {
            display: flex;
            //margin-right: 50px;
          }
      
          &__text {
            display: inline;
            font-family: "Fira Sans", sans-serif;
            font-size: 23px;
            color: #f2f2f2;
            text-decoration: none;
            padding: 14px;
            margin: 0 30px;
            &:hover {
              color: red;
              text-decoration: none;
            }
          }
      }

    

  }  
}

@media only screen and (max-width: 1010px){
  .nav-bar__container{
    //position: relative;
    .list-items{
      flex-direction: column;
      }
    }
  }

