@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

/** HEADER */

/** NAVIGATION BAR */

.nav-bar {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    background-color: black;
    //position: relative;
    }

      .logo-container{
        display: flex;
        width: 50%;
        padding: 2% 2%;
        //align-self: center;
        .hamburger-container{
          visibility: hidden;
          align-self: center;
          display: flex;
          justify-content: flex-end;
          .hamburger-menu{
            text-decoration: none;
            list-style-type: none;
          }
      }
    }
        
        .nav-items-container{
          display: block;
          width: 100%;
          align-self: center;
        
          .list-items{
            list-style-type: none;
            display: flex;
            // justify-content: center;
            // margin: auto;

              &__text {
                display: flex;
                font-family: "Fira Sans", sans-serif;
                font-size: 23px;
                color: #f2f2f2;
                text-decoration: none;
                padding: 23px;
                &:hover {
                  color: red;
                  text-decoration: none;
                }
              }
          }
          }

@media only screen and (max-width: 1010px){
  .logo-container{
    width: 100%;
  }

  .hamburger-container{
    visibility: visible;
    display: block;
    width: 100%;
    margin-right: 4%;
  .hamburger-menu{
    visibility: visible;
    display: flex;
    color: white;
    }
  }
  .nav-items-container{
    display: none;
    &.active{
      display: block;
    }
  }

  .nav-bar{
      flex-direction: column;
    .list-items{
      flex-direction: column;
      padding: 0%;
    }
    }
  }

