.training-container{
    display: flex;
    width: 100%;
    background-color: #E8E8E8;
    min-height: 100vh;
    .training-row{
        text-align: center;
        padding-bottom: 3%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        width: 70%;
        .training-column{
            position: relative;
            width: 100%;
            padding-top: 1%;
            &__title{
                font-family: 'proxima-nova',Sans-Serif;
                font-size: 250%;
                text-transform: uppercase;
            }
            &__content{
                text-align: center;
                font-size: 130%;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: none;
            }
            
            .training-class-row{
                display: flex;
                width: 100%;
                padding-top: 5%;
                .class{
                    padding-left: 0.5%;
                    padding-right: 0.5%;
                }
            }
            .training-img1{
                background-image: url('../../images/class-image/Personal.png');
                position: absolute;
                height: 108px;
                width: 108px;
                display: block;
                top: -54px;
                left: 50%;
                margin-left: -54px;
                background-color: #2ebdfe;
                border-radius: 108px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
            .training-img2{
                background-image: url('../../images/class-image/Life.png');
                position: absolute;
                height: 108px;
                width: 108px;
                display: block;
                top: -54px;
                left: 50%;
                margin-left: -54px;
                background-color: #2ebdfe;
                border-radius: 108px;
                background-repeat: no-repeat;
                background-position: 50% 50%;    
            }
            .training-img3{
                background-image: url('../../images/class-image/Goal.png');
                position: absolute;
                height: 108px;
                width: 108px;
                display: block;
                top: -54px;
                left: 50%;
                margin-left: -54px;
                background-color: #2ebdfe;
                border-radius: 108px;
                background-repeat: no-repeat;
                background-position: 50% 50%;    
            }
        }
    }
}

@media screen and (max-width: 740px){
    .training-class-row{
        flex-direction: column;
        padding-bottom: 10%;
    }
  }